# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
*.log

# Dependencies (excluded from git for lighter repo)
node_modules/
npm-cache/
yarn-cache/
pnpm-cache/
.npm/
.yarn/

# Development build artifacts (should NOT be in production deploy):
dist/
dist-ssr/
.env
.env.local
*.local

# Editor directories and files
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Build scripts
build/

# TypeScript cache
tsconfig.tsbuildinfo
